DATABASE_URL=postgres://postgres:postgres@db:5432/novajournal
FEATURE_FLAGS_STORE=in-memory
ENABLE_AI=false
ENABLE_OCR=false
ENABLE_MULTI_CURRENCY=true
ARCJET_RULES=
GOOGLE_CAPTCHA_SECRET_KEY=your_secret_key
